<section class="container">
    <div class="row my-3">
        <div class="col-12 text-center">
            <h1 [routerLink]="'youtube'">vsave.io</h1>
        </div>
    </div>
    <div class="row text-center ">
        <div class="col-4 col-md-2 col-xxl-2 " [routerLink]="'youtube'">
            <span class="align-middle">Youtube</span>
        </div>
        <div class="col-4 col-md-2 col-xxl-2 " [routerLink]="'instagram'">
            <span class="align-middle">Instagram</span>
        </div>
        <div class="col-4 col-md-2 col-xxl-2 " [routerLink]="'facebook'">
            <span class="align-middle">Facebook</span>
        </div>

        <div class="col-3 col-md-2 offset-2 offset-md-0 col-xxl-2 " [routerLink]="'vimeo'">
            <span class="align-middle">Vimeo</span>
        </div>
        <div class="col-3 col-md-2 col-xxl-2 " [routerLink]="'tiktok'">
            <span class="align-middle">Tiktok</span>
        </div>
        <div class="col-3 col-md-2 col-xxl-2 " [routerLink]="'reddit'">
            <span class="align-middle">Reddit</span>
        </div>
    </div>
</section>