<section class="container">
    <div class="row my-3">
        <div class="col-12 text-center">
            <h1>vsave.io</h1>
        </div>
    </div>
    <div class="row  text-center">
        <div class="col-4 col-md-2 col-xxl-1 offset-xxl-3">
            <h6>Youtube</h6>
        </div>
        <div class="col-4 col-md-2 col-xxl-1">
            <h6>Instagram</h6>
        </div>
        <div class="col-4 col-md-2 col-xxl-1">
            <h6>Facebook</h6>
        </div>

        <div class="col-3 col-md-2 offset-1 offset-md-0 col-xxl-1">
            <h6>Vimeo</h6>
        </div>
        <div class="col-3 col-md-2 col-xxl-1">
            <h6>Tiktok</h6>
        </div>
        <div class="col-3 col-md-2 col-xxl-1">
            <h6>Reddit</h6>
        </div>
    </div>
</section>