<section class="container">
    <div class="row my-3">
        <div class="col-12 text-center">
            <h1>vsave.io</h1>
        </div>
    </div>
    <div class="row  text-center">
        <div class="col-4 col-md-2 col-xxl-1 offset-xxl-3">
            <h6 href="#">Youtube</h6>
        </div>
        <div class="col-4 col-md-2 col-xxl-1">
            <h6 href="#">Instagram</h6>
        </div>
        <div class="col-4 col-md-2 col-xxl-1">
            <h6 href="#">Facebook</h6>
        </div>

        <div class="col-3 col-md-2 offset-1 offset-md-0 col-xxl-1">
            <h6 href="#">Vimeo</h6>
        </div>
        <div class="col-3 col-md-2 col-xxl-1">
            <h6 href="#">Tiktok</h6>
        </div>
        <div class="col-3 col-md-2 col-xxl-1">
            <h6 href="#">Reddit</h6>
        </div>
    </div>
</section>