<section class="container my-5">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Download YouTube Videos</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="text-center fontColor_1">Save social videos from any public account to your device. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <input type="text" class="corm-control" placeholder="Enter your video link..." />
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center my-3">
            <button class="btn btn-warning">Download</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center my-3">
            <p class="font_12">Supported channels, Youtube, Facebook, Reddit, Instagram & Tiktok</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center my-3  text-center">
            <span class="advert_heading font_12 p-1">ADVERTISEMENT</span>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center my-3">
            <img src="../../assets/images/advertisement.png" class="advert">
        </div>
    </div>
</section>