input[type=text] {
    /* height: 35px; */
    /* width: 80%; */
    /* border: 1px solid #727272; */
    border: 0px;
}

input::placeholder {
    color: black;
    font-size: 12px;
    text-align: center;
}

.advert {
    width: 250px;
}

.advert_heading {
    background-color: #ebebeb;
    width: 180px;
}