/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Fact-ExpandedBlack;
    src: url(../src/assets/font/Fact-ExpandedBlack.ttf);
}

body {
    font-family: Fact-ExpandedBlack;
}

.font_12 {
    font-size: 12px;
}

.fontColor_1 {
    color: #727272;
}

.active {
    color: #5dcef3;
}



@media screen and (min-width: 992px) {
    .main_heading {
        font-size: 68px;
    }

    .sub_heading {
        font-size: 32px;
    }
}

@media screen and (min-width: 1200px) {
    .input-group {
        width: 70% !important;
    }

    .over_mil {
        background-color: #fc7b4b;
        border-radius: 10px;
        color: white;
        width: 200px;
        position: absolute;
        top: 160px;
        right: 10px;
    }
}

@media screen and (min-width: 1400px) {
    .over_mil {
        background-color: #fc7b4b;
        border-radius: 10px;
        color: white;
        width: 200px;
        position: absolute;
        top: 150px;
        right: 140px;
    }
}