/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Fact-ExpandedBlack;
    src: url(../src/assets/font/Fact-ExpandedBlack.ttf);
}

body {
    font-family: Fact-ExpandedBlack;
}

.font_12 {
    font-size: 12px;
}

.fontColor_1 {
    color: #727272;
}